@charset "utf-8";

$control-border-width: 2px;
$input-shadow: none;

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/helpers/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/components/card.sass';
@import '../node_modules/bulma/sass/elements/_all.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  &::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
}

.image {
  display: block;
  position: relative;
  width: 128px;
  object-fit: cover;
  height: 128px;
  border-radius: 14%;
  margin: auto;
}

.title.is-2 {
  margin-top: 0;
}

h4 {
  margin-top: 0;
}

input,
textarea {
  &:read-only {
    border-color: transparent !important;
    color: $grey;

    &:hover {
      border-color: transparent !important;
    }
  }
}

textarea {
  &:read-only {
    resize: none;
  }
}